.image-gallery-left-nav {
    position: absolute;
    top: 50%;
    left: -100px; 
    transform: translateY(-50%);
    z-index: 10;
    font-size: 24px;
    background: #999999;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .image-gallery-right-nav {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 24px;
    background: #999999;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  

  @media (max-width:600px){
    .image-gallery-left-nav{
        left: -58px; 
        font-size: 15px;
        background: #ffffff;
        color: #000000;
    }
    .image-gallery-right-nav{
        right: -58px;
        font-size: 15px;
        background: #ffffff;
        color: #000000;
    }
  }