@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;

}

.bgvideo {
  background: black;
  height: 100vh;

}

#mainHeader {
  background:#000;
  backdrop-filter: blur(1px);
  z-index: 1 !important;
  position: relative;
}

.logo {
  width: 340px;
  height: 80px;
  object-fit: contain;

}

.bgvideo video {
  height: 100vh;
  object-fit: cover;
}

.pre-header {
  position: relative;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
}

.goog-te-gadget-simple {
  display: flex !important;
  background-color: #fff;
  border-color: #9b9b9b #d5d5d5 #e8e8e8;
  border-style: solid;
  border-width: 1px;
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 2px;
  cursor: pointer
}

.goog-te-gadget-simple a {
  display: flex
}

.bgvideo div {
  width: auto !important;
  height: auto !important;
  background: rgba(0, 0, 0, 0.5);
}





@media screen and (max-width:950px) {
  #mainNav {
    display: none;
  }
}

#navItem a {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#navItem a:hover {
  background: black;
}
.dropdown-list {
  display: none;
}
.dropdown:hover .dropdown-list {
  display: block;
}
.wofxHead {
  background-image: linear-gradient(to right, #5cc6d0, #47d0c1, #59d7a4, #83da7d, #b5d954, #cfcc3b, #e8bd2b, #ffac2a, #ff9431, #ff7d3b, #f96545, #ef4e50);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#glimpsessVideo {
  border-radius: 4px;
}

#ShowSummery img {
  width: 100%;
}

.showprofileCard {
  width: 30%;
  display: flex;
  position: relative;
  align-items: center;
}

#atWofx div {
  padding-top: 10px;
  width: 45%;
  padding-bottom: 10px;
  border-bottom: 1px solid #2ec1f1;
}

#atWofx span {
  color: #2ec1f1;
}

.aboutWofxMain {
  background: #f6f5f5;
}


#aboutwofxbut a {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#aboutwofxbut span {
  padding: 6px;
}

#aboutwofxbut span:hover {
  background: black;
  color: #fff !important;
  border-radius: 4px;
}

.bussinesLounchMain {
  background: #f6f5f5;
}

#businessLounchCard {
  box-shadow: 0px 4px 0px rgb(0 0 0 / 20%) !important;
  background: #fbf9f6;
  border-radius: 16px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 23%;
}

.blImage {
  border-radius: 6px;
  background-image: linear-gradient(to right bottom, #ceeaec, #dceef5, #eaf3fa, #f6f8fd, #ffffff);
  display: flex;
  justify-content: center;
  height: 170px;
  padding: 6px;
}

.blImage img {
  object-fit: contain;
}

.BLButton {
  display: flex;
  justify-content: center;

  background-image: linear-gradient(to right bottom, #34d7e3, #22d0e9, #20c9ee, #2ec1f1, #43b8f2);
  padding-top: 7px;
  padding-bottom: 7px;
  color: #f4f4f4;

  border-bottom: 2px solid skyblue;
  border-right: 2px solid skyblue;
  border-radius: 4px;
  font-size: 15px;
}

.BLButton:hover {
  background-image: linear-gradient(to right bottom, #34d7e3, #22d0e9, #20c9ee, #2ec1f1, #43b8f2);
  padding-top: 7px;
  padding-bottom: 7px;
  color: #f4f4f4;
  border-bottom: 2px solid skyblue;
  border-right: 2px solid skyblue;
  border-radius: 4px;
  font-size: 16px;

}

.wingdings {
  color: #5cc6d0;

}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 750px;
  margin: 20px auto 0;
  /* border: 1px solid black; */
}

.left-side-under-hero {
  padding: 40px 40px;
  width: 55%;
  height: 700px;
  border-radius: 4px;
  background: #e0e0e0;
  /* border: 1px solid black; */
  overflow: auto;
  box-shadow: inset 46px 46px 97px #c7c7c7, inset -46px -46px 97px #f9f9f9;
}

.right-side-under-hero {
  width: 45%;
}



.left-side-under-hero p {
  font-size: 15px;
  padding: 10px 0;
}

.left-side-under-buttons .filled-button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  border: 2px solid #000;
}

.left-side-under-buttons .outlined-button {
  color: #000;
  padding: 10px 15px;
  display: inline-block;
  border: 2px solid #000;
  margin-left: 15px;
}

.right-side-under-hero img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  /* object-fit: contain; */
}

.brand-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.brand-logos .brand-logo {
  width: 150px;
  height: 75px;
  padding: 50px 20px;
}

.brand-logos div img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.wofxBringings {
  display: flex;
  margin: 20px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.wofxBring {
  margin: 20px;
  max-width: 300px;
}

.paraBrings {
  line-height: 1.8;
}

@media only screen and (max-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 20px;
  }

  .left-side-under-hero {
    padding: 10px 16px;
    width: 100%;
    height: 50%;
    border-radius: 4px;
    background: #e0e0e0;
    overflow: auto;
    object-fit: fill;
    box-shadow: inset 46px 46px 97px #c7c7c7,
      inset -46px -46px 97px #f9f9f9;
  }

  .right-side-under-hero {
    width: 100%;
    height: 50%;
  }

  .right-side-under-hero img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .bgvideo {
    height: 270px !important;
  }
  .bgvideo video{
    height: 270px !important;
  }




  .India-growth-story {
    text-align: center;
    width: 70%;
  }

  .left-side-under-hero p {
    font-size: 16px;
    text-align: justify;
    padding: 20px 0;
  }
}

.brand-logos div img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.wofxBringings {
  display: flex;
  margin: 20px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.wofxBring {
  margin: 20px;
  max-width: 300px;
}

.paraBrings {
  line-height: 1.8;

}

.exhibitorProfileCard {
  background: #fbf9f6;
  border: 1px solid #c2b280;
  border-radius: 1px;
}

.thematiczone p {
  font-size: 14px;
}

.enquiryForm {
  font-size: 14px;
}

.enquiryForm .form-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
  margin-bottom: 5px;
}

.enquiryForm input {
  border: 1px solid rgb(44, 44, 44);
  border-radius: 2px;
}

.form-control {
  width: 100% !important;
}

.col-sm-5 {
  width: 316px;
}

#ShowSummeryMobile {
  display: none;
}

#ShowSummeryMobile img {
  object-fit: contain;
}

.showsummeryDivMobile {
  background-image: linear-gradient(to right bottom, #ceeaec, #dceef5, #eaf3fa, #f6f8fd, #ffffff);
}

.header__middle {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 10000 !important;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: relative;
  background-color: hsla(0, 0%, 100%, .8);
}

@media screen and (max-width:600px) {
  .col-sm-5 {
    width: 100% !important;
  }

  #businessLounchCard {
    width: 100% !important;
    margin-top: 20px;
  }
  #mobileNav{
    z-index: 100000 !important;
    position: absolute;
  }
  #contactus{
    flex-direction: column;
  }

  #atWofx div {
    width: 100% !important;
  }

  .pre-header {
    column-gap: 4px !important;
    padding-top: 6px !important;
    padding-bottom: 8px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: auto !important;
    justify-content: center !important;
  }

  #ShowSummery {
    display: none;
  }

  #ShowSummeryMobile {
    display: block;
  }


  #mainHeader {
    display: flex;
    align-items: center;
    backdrop-filter: blur(6px);
  }
  .logo {
    width: auto;
    height: auto;
  }

}

/* Loader CSS starting from here */
/* loader css starting from here */
.loaderMain {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0px;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 100000 !important;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.wofxGallry {
  background: #f4f4f4;
  padding: 10px;
  position: relative;
}

.wofxGallry img {
  object-fit: cover !important;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 20px !important;
  font-size: 40px;
}

#fixed-social {
  position: fixed;
  top: 40%;
  z-index: 100000 !important;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}

#fixed-social a:hover>span {
  visibility: visible;
  left: 41px;
  opacity: 1;
}

#fixed-social a span {
  line-height: 40px;
  left: 60px;
  position: absolute;
  text-align: center;
  width: 120px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
}

.fixed-facebook {
  background-color: #1877F2;
}

.fixed-facebook span {
  background-color: #1877F2;
}

.linkedIN {
  background-color: #064e77;
}

.linkedIN span {
  background-color: #064e77;
}

.xtwitter {
  background-color: #000000;
}

.xtwitter span {
  background-color: #000000;
}

.fixed-twitter {
  background-color: #0b9b64;
}

.fixed-twitter span {
  background-color: #0b9b64;
}

.fixed-gplus {
  background-color: #D73F6E;

}

.fixed-gplus span {
  background-color: #D73F6E;
}

.termandcondition ol {
  margin-left: 20px;
  list-style: lower-roman;
}

.termandcondition {
  font-size: 15px;
  color: rgb(117, 117, 117);
  text-align: justify;
}

.termandcondition strong {
  color: black !important;
}