.card {
  margin: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s;
  width: 220px;
  height: 150px;
  
  
}
.d{
  border: 1px solid red;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  
  height: auto;
  object-fit: cover;
}
.industry_body_img1{
  width: 300px !important;
}
.industry_body_img2{
  width: 230px;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: -10px;
  width: 250px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: center;
  transition: bottom 0.3s;
}

.card:hover .overlay {
  bottom: 0;
  z-index: 10000 !important;
  display: block;
  transition: 1.2s;
  border-radius: 5px;
}

.overlay h2 {
  margin: 0;
  font-size: 1.5rem;
}

.overlay p {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  text-align: center;
}